body{
    margin: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px
    font-size: 40px;
}

h2{
    width: 200px;
    height: 200px;
    animation: loop 10s infinite;
    margin-left: -100px;
    font-family: 'Hepta Slab', serif;
    text-align: center;
    font-size: 70px;
    text-shadow:#F0D519 2.5px 2.5px 0,
    #00d8ff 5px 5px 0,
    #164e9a 7.5px 7.5px 0,
    #164e9a 10px 10px 10px;color:#F06119 ;
}

#retour{
    width:9%;
    height: 20%;
    float: left;
    position: absolute;
    left: 0%;
    animation: slide 2s infinite;
    padding: 70px;
}

/*main*/

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:auto
}

#picolo{
    width: 1020px;
    animation: ap 8s;
    font-family: 'Hepta Slab', serif;
}

h1{
    text-align: center;
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
    color:#F06119 ;
}

article{
    margin: 20px;
    font-family: 'Hepta Slab', serif;
    line-height:30px;
}

/*présentation*/

.presentation{
    font-family: 'Hepta Slab', serif;
    font-size: 30px;
    padding: 5%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1542826437-4bbdb8a5477c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
}

#mode{
    background-color: #F6F0E4 ;
    margin: 20px;
    padding: 2%;
    text-align:center;
    border-radius:0.9%;
}

/*footer*/

.footer{
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: space-between;
    padding: 5%
}

.get-it{
    width: 400px;
    height: 150px;
}

#icone{

    width: 200px;
    height: 200px
}


/*animation*/

@keyframes loop{
    0%{ transform: translateY(0px)
    }

    33%{
        transform: translateY(-50px)
    }

    66%{
        transform: translateY(50px)

    }


    100%{
        transform: translateY(0px)
    }
}

@keyframes ap{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes slide{
    0%{ transform: translateX(0px)
    }

    50%{
        transform: translateX(50px)
    }

    100%{
        transform: translateX(0px)
    }
}